/* only for officers page */

#officer-intro {
  display: flex;
  justify-items: center;
  align-content: center;
  text-align: center;
  margin: 65px;
}

#intro-align {
  /* background-color: #6A515E; */
  margin: auto;
  max-width: 900px;
}

#intro-align div {
  width: 100%;
}

#intro-align img {
  width: 80%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');

.cards {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.officer-card {
  background-color: #cee1b9;
  height: 435px;
  width: 300px;
  margin: 65px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  box-shadow: 
    -10px -10px #fef8f8,
    10px 10px #fef8f8,
    -15px -13px #1b162980,
    15px 13px #1b162980;
}

.card-align {
  height: fit-content;
  width: fit-content;
  margin: auto;
  font-family: 'Sriracha', arial, sans-serif;
  color: #6A515E;
}

.officer-card img{
  width: 60%;
  border-radius: 20%;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 5px 5px 10px #6A515E;
}

.name {
  color: #fceee9;
  text-shadow: 2px 2px #6A515E;
}

.board {
  color: #FFAFCC;
}

.card-info {
  margin-left: 10px;
  margin-right: 10px;
}

.card-icons > a {
  display: inline-block;
  color: #6A515E;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.2s;
}

.card-icons > a:hover {
  text-shadow: 1px 1px #fceee9;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#past {
  background-color: #1b162980;
}

#past-align {
  max-width: 100%;
  padding: 30px;
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
}

.past-section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: #6A515E; */
}

.past-card {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 20px;
  width: 350px;
  text-align: start;

  background-color: #bfc9b3;
  border-radius: 15px;
  box-shadow: 
    -5px -5px #1b162980,
    5px 5px #1b162980,
    -8px -6px #fef8f8,
    8px 6px #fef8f8;

  display: flex;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
}

.past-card img {
  max-width: 100px;
  border-radius: 20%;
  margin: 10px;
  box-shadow: 2px 2px 5px #6A515E;
}

.past-info {
  margin-left: 15px;
  width: 190px;
}

.past-name {
  color: #fef8f8;
  text-shadow: 2px 2px #6A515E;
  padding: 0%;
}

.year-served {
  letter-spacing: 1.5px;
}

.past-icons {
  margin-left: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  align-content: space-evenly;
}

.past-icons > a {
  display: inline-block;
  color: #6A515E;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  transition: transform 0.2s;
}

.past-icons > a:hover {
  text-shadow: 1px 1px #fceee9;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.past-title , .past-desc{
  color: #fef8f8;
}

/* Drop Down */
.form-container {
  width: fit-content;
  margin: auto;
  text-align: center;
}

form {
  margin: 50px;
  width: fit-content;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

form label{
  font-size: 25px;
  color: #fef8f8;
}

select {
  width: 150px !important;
  text-align: center;
  box-shadow: 0 2px 5px 0 #C8B6FF;
  color: #FFAFCC !important;
}
