/* only for officers page */

#officer-intro {
  display: flex;
  justify-items: center;
  align-content: center;
  text-align: center;
  margin: 65px;
}

#intro-align {
  /* background-color: #6A515E; */
  margin: auto;
  max-width: 900px;
}

#intro-align div {
  width: 100%;
}

#intro-align img {
  width: 80%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');

.cards {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.officer-card {
  background-color: #cee1b9;
  height: 425px;
  width: 300px;
  margin: 65px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  box-shadow: 
    -10px -10px #fef8f8,
    10px 10px #fef8f8,
    -15px -13px #1b162980,
    15px 13px #1b162980;
}

.card-align {
  height: fit-content;
  width: fit-content;
  margin: auto;
  font-family: 'Sriracha', arial, sans-serif;
  color: #6A515E;
}

.officer-card img{
  width: 60%;
  border-radius: 20%;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 5px 5px 10px #6A515E;
}

.name {
  color: #fceee9;
  text-shadow: 2px 2px #6A515E;
}

.card-info {
  margin-left: 10px;
  margin-right: 10px;
}

.card-icons > a {
  display: inline-block;
  color: #6A515E;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.2s;
}

.card-icons > a:hover {
  text-shadow: 1px 1px #fceee9;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#past {
  margin: 30px;
}

#past-align {
  /* background-color: #6A515E; */
  max-width: 100%;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 65px;
  text-align: center;
}

.past-section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
}

.past-card {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 20px;
  max-width: 330px;
  text-align: start;

  background-color: #bfc9b3;
  border-radius: 15px;
  box-shadow: 
    -5px -5px #fef8f8,
    5px 5px #fef8f8,
    -8px -6px #1b162980,
    8px 6px #1b162980;
}

.past-card img {
  max-width: 100px;
  border-radius: 20%;
  margin: 10px;
  box-shadow: 2px 2px 5px #6A515E;
}

.past-icons > a {
  display: inline-block;
  color: #6A515E;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  transition: transform 0.2s;
}

.past-icons > a:hover {
  text-shadow: 1px 1px #fceee9;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}