/* only for sponsors page */

body {
    text-align: center;
}

.banner {
    background-image: url('../img/sponsors/banner.jpg');
    width: 100%;
    height: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    display: flex;
    justify-content: center;
    align-content: center;
}

.banner div {
    background-color: #fff3e4c6;
    margin: auto;
    padding: 50px;
    border-radius: 15px;
}

#sponsors {
    margin: 4rem 5vw;
}

.logo {
    max-width: 300px;
}

.center {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.align-size{
    max-width: 800px;
    margin: 50px;
}

.align-flex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.align-flex  div {
    width: 600px;
    padding: 50px;
    margin: auto;

}