body {
    background-color: #fef8f8;
}

/* navigation */
nav , .dropdown-menu , .navbar-collapse {
    background-color: white;
}

nav , .dropdown-menu {
    box-shadow: 0 4px 15px 0 #C8B6FF;
}

#nav-logo {
    height: 50px;
}

.navbar-brand , .nav-link , .dropdown-item {
    color: #FFAFCC;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.active .nav-link, .dropdown-menu .active {
    color: #B8C0FF;
    background-color: white;
}

.dropdown-toggle {
    border: none;
    outline: none;
}

.navbar-brand:hover , .nav-link:hover , .dropdown-item:hover, .dropdown-item:hover {
    color: #C8B6FF;
    background-color: white;
}

.navbar-toggler {
    border-color: #FFAFCC;
} 


/* footer */
footer {
    padding: 20px;
    background-color: white;
    box-shadow: 0 -4px 15px 0 #C8B6FF;
}

footer ul {
    text-align: center;
    font-size: 18px;
}

footer li {
    padding: 10px;
}

footer ul a {
    color: #FFAFCC;
}

footer ul a:hover , .social > a:hover{
    color: #C8B6FF;
    text-decoration: none;
}

.social {
    text-align: center;
    padding-bottom: 15px;
}

.social > a {
    width: 40px;
    line-height: 40px;
    margin: 8px;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    color: #B8C0FF;
    border: 1px solid #B8C0FF;
}

.social > a:hover {
    transform: scale(1.25);
}

.fa {
    font-size: 20px;
}

.copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color:#B8C0FF;
}
